src/main/resources/schemas/invoice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="invoice">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:byte" name="nr"/>
                <xs:element type="xs:short" name="issue"/>
                <xs:element type="xs:byte" name="total"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>